h2, small{ 
    color: grey; 
    transition: 0.3s;    
}
label{               
    color: white;
    transition: 0.3s;        
}

h5{    
    margin-bottom: 0px;
    padding-top: 2%;
    cursor: pointer;        
    color: white;    
    transition: 0.3s;    
    border-radius: 10px;    
}
h5 label{ cursor: pointer; }
h5:hover { background-color: grey; }
.card-body{    
    transition: 0.3s; 
}