<div id="home">    
    <div class="home">        
        <div class="homeIcon">
            <img style="width: 100%;" src="books.ico">
        </div>
        <h1>BEM-VINDO</h1>
        <h2>Sistema Biblioteca V 1.0 <span>&copy;</span></h2>
        <p>
            Olá {{ user.nome }}, Boa noite! Use o sistema biblioteca para fazer cadastro e consultas de livros 
            na nossa base de dados e realizar ou receber locações para nossos cliente.
        </p>
        <!-- <a class="alert alert-primary" href="/">Voltar para a homepage</a> -->
    </div>
</div>