#formAlterarLivro{  
    margin-top: 3%;
    background-color: gray;      
    color: white;
    padding: 2%;        
    border-radius: 2px;      
    text-align: center;
}
small{ border-bottom: 1px solid white; }