<nav class="navbar navbar-dark bg-dark navbar-expand-lg componentShadow">    
    <div id="btnMenu" (click)="onOpenSidebar()">        
        <span class="navbar-toggler-icon"></span>
    </div>        
    
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">        
        <li *ngFor="let opt of options">
            <a class="nav-link" (click)="onClickSelection($event.target)"
                [class.active]="selection == opt">
                <label>{{ opt }}</label>
            </a>  
        </li>        
    </ul>
    </div>
</nav>