<div class="accordion componentShadow" id="listaLocacoes">

    <div class="card" *ngFor="let loc of locacoes; index as i" >
        <div class="card-header" [id]="'tit'+i">
            <h2 class="mb-0">
                <button class="btn btn-outline-info btnTit" type="button" data-toggle="collapse" 
                    [title]="'desc'+i" data-target="#?" aria-expanded="false" aria-controls="?">
                    {{ loc.cliente | uppercase }} | {{ loc.dataEntrega | date:'dd MMM, yyyy' }}                    
                </button>
            </h2>
        </div>
  
        <div [id]="'desc'+i" class="collapse desc" [title]="'tit'+i" aria-labelledby="?" 
            data-parent="#listaLocacoes">
            <div class="card-body">
                <div class="row10">
                    <label>DATA DA LOCAÇÃO</label>: 
                    <label>{{ loc.dataLocacao | date:short }}</label>
                </div>
                <div class="row12">
                    Livros...<br>
                    <label>VALOR: R$ 100,00</label> |
                    <label>MULTA: R$ 20,00</label>
                </div>                
            </div>
        </div>
    </div>
    
    
</div>