<div class="collapse bg-dark componentShadow" id="menuColapse">    
    <!-- <a href="" class="closebtn">X</a> -->
    <div class="card-header">
        <h2>{{ username }}</h2>                          
    </div>
    <div class="card-body">
        <label>{{ nome }}</label><label>{{ snome }}</label>      
        <img *ngIf="gen == 'm'" src="assets/m.png">
        <img *ngIf="gen == 'f'" src="assets/w.png">
    </div>    
    <div class="dropdown-divider"></div>    
        <h6>TEMPO LOGADO</h6>
        <label>{{ hor < 10 ? '0'+hor : hor }}:</label>
        <label>{{ min < 10 ? '0'+min : min }}:</label>
        <label>{{ seg < 10 ? '0'+seg : seg }}</label>    
    <div class="dropdown-divider"></div>
    <div class="card-footer" style="cursor: pointer;">
        <small>SAIR</small>
    </div>
</div>


