<nav class="navbar navbar-dark bg-dark navbar-expand-lg componentShadow">    
    <div id="btnMenu" (click)="onOpenCloseSidebar()">        
        <span class="navbar-toggler-icon"></span>
    </div>        
    
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">        
        <li *ngFor="let opt of options; index as i" style="cursor: pointer;">
            <a class="nav-link" [routerLink]="optionsLinks[i]" routerLinkActive="active">                
                <!-- [class.disabled]="i==3 && !acess" -->
                {{ opt }}                
            </a>  
        </li>                
    </ul>
    </div>
</nav>