 <br>
 <div class="row justify-content-md-center">    
    <div class="col-6">                                
        <input class="form-control" type="search" 
            placeholder="PESQUISAR: Nome ou Sobre do Cliente">            
    </div>        
</div>    
<br>
<div class="row justify-content-md-center">
    <div class="card" style="width: 10rem; text-align: center;" *ngFor="let user of usuarios">            
        <div class="card-header">
            <small>{{ user.nome | titlecase }} {{ user.snome | titlecase }}</small>
        </div>
        <div class="card-body">
            <img *ngIf="user.gen.valueOf() == 'MASCULINO'" class="card-img-top" src="assets/img/m.png">
            <img *ngIf="user.gen.valueOf() == 'FEMININO'" class="card-img-top" src="assets/img/w.png">                 
        </div>
        <p [ngClass]="{'alert-success': user.admin, 'alert-warning': !user.admin}">
            ACESSO: {{ user.admin ? 'ADMIN':'RESTRITO'}}
        </p>        
        <div class="card-footer">
            <strong>{{ user.username | uppercase }}</strong>
        </div>
    </div>    
</div>
<a class="floatBTN btn-info componentShadow" 
    title="CADASTRAR" routerLink="">            
    <span class="material-icons">person_add</span>
</a>