<div class="row">
    <!--COL  1-2 -->
    <div class="col-6">        
        <div class="row">
            <button style="margin:1%; padding-top: 0%;" class="btn btn-info" routerLink="/livros">
                <span style="font-size: x-large;">&laquo;</span>                
                VOLTAR
            </button>
        </div>
        <div class="row">
            <!-- CARD DETALHE -->
            <div class="card mb-3 componentShadow" style="max-width: 600px; margin: 1%;" *ngIf="livro!=null">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img [src]="livro.img" class="card-img" style="height:100%; width:100%;" alt="IMAGEM INDISPONIVEL NO MOMENTO">
                    </div>
                    <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text"><small>#{{ livro.cod }}</small></p>
                        <h5 class="card-title">{{ livro.titulo | uppercase }}</h5>
                        
                        <p class="card-text"  style="font-style: italic;">{{ livro?.subTit | titlecase }}</p>
                        <p class="card-text"><small>AUTOR(A): </small>{{ livro.autor | titlecase }}</p>
                        <p class="card-text"><small>ANO: </small>{{ livro.ano }}</p>
                        <p class="card-text"><small>ISBN: </small>{{ livro.ISBN }}</p>
                        <p class="card-text"><small>GÊNERO: </small>{{ livro.genero | titlecase }}</p>                    
                        <p class="card-text">                    
                            <small class="alert-secondary" style="padding:1%;" *ngIf="livro.locado">LOCADO</small>
                            <small class="alert-success" style="padding:1%;" *ngIf="!livro.locado">DISPONIVEL</small>
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text" style="text-align: center;">                            
                            <a class="btn btn-warning" routerLink="alterar">ALTERAR</a> |
                            <a class="btn btn-danger" style="color: white;" 
                                data-toggle="modal" data-target="#deletarModal" routerLink="deletar">DELETAR
                            </a>            
                        </p>            
                    </div>
                    </div>
                </div>
            </div> <!-- CARD DETALHE -->                    
        </div>

    </div>
    <!-- ******** -->
    <!--COL  2-2 -->
    <div class="col-6">
        <router-outlet></router-outlet>        
    </div> 
     
    <!-- <system-nao-encontrado [hidden]="livro!=null" style="width: 50%; margin: 0 auto;">
        <span class="titulo">LIVRO</span>
        <p class="corpo">Verifique os valores informados</p>        
    </system-nao-encontrado> -->
    
</div><!-- ROW -->
