<div class="row">
    <div class="col-md-7">
        <div class="row-11">
            <button style="margin:1%; padding-top: 0%;" class="btn btn-info" routerLink="/livros">
                <span style="font-size: x-large;">&laquo;</span>
                VOLTAR
            </button>
        </div>

        <div class="row-11">
            <div class="card mb-3 componentShadow" style="max-width: 600px; margin: 1%;" *ngIf="livro!=null">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img [src]="livro.img" class="card-img" style="height:100%; width:100%;" alt="IMAGEM INDISPONIVEL NO MOMENTO">
                    </div>
                    <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text"><small>#{{ livro.cod }}</small></p>
                        <h5 class="card-title">{{ livro.tit | uppercase }}</h5>
                        
                        <p class="card-text"  style="font-style: italic;">{{ livro?.subTit | titlecase }}</p>
                        <p class="card-text"><small>AUTOR(A): </small>{{ livro.autor | titlecase }}</p>
                        <p class="card-text"><small>ANO: </small>{{ livro.ano }}</p>
                        <p class="card-text"><small>ISBN: </small>{{ livro.ISBN }}</p>
                        <p class="card-text"><small>GÊNERO: </small>{{ livro.gen | titlecase }}</p>                    
                        <p class="card-text">                    
                            <small class="alert-secondary" style="padding:1%;" *ngIf="livro.locado">LOCADO</small>
                            <small class="alert-success" style="padding:1%;" *ngIf="!livro.locado">DISPONIVEL</small>
                        </p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text" style="text-align: center;">
                            <a class="btn btn-warning" [routerLink]="['alterarLivro', livro.cod]">ALTERAR</a> |
                            <a class="btn btn-danger" style="color: white;">DELETAR</a>            
                        </p>            
                    </div>
                    </div>
                </div>
            </div>       

        </div>                

    </div>

    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>

    <div class="alert alert-danger" [hidden]="livro!=null"  style="width: 50%; margin: 0 auto; text-align: center;">
        <h4 class="alert-heading">OPS!</h4>
        <p style="font-style: italic;">NADA ENCONTRADO</p>
        <hr>
        <p class="mb-0"> 
            Não encontramos nenhum livro com esse titulo digitado
            tente informa o titulo da franquia ou um subtitulo do livro que deseja.
        </p>
    </div>    
</div>

    

