<div class="card" id="divLogin">
    <form class="px-4 py-3">
      <div class="form-group">
        <label for="loginUsuario">USUARIO</label>
        <input type="text" class="form-control" id="loginUsuario" placeholder="fulano@81" required>
      </div>
      <div class="form-group">
        <label for="loginSenha">SENHA</label>
        <input type="password" class="form-control" id="loginSenha" placeholder="******" required>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="loginCheck">
          <label class="form-check-label" for="loginCheck">
            Manter-me conectado.
          </label>          
        </div>
      </div>
      <button type="button" class="btn btn-outline-info" style="margin-right: 2%;">CADASTRAR-SE</button>
      <button type="submit" class="btn btn-success">LOGAR</button>
    </form>
    <div class="card-footer" style="text-align:center; cursor: pointer;" data-toggle="collapse" href="#collapseSenha" 
        role="button" aria-expanded="false" aria-controls="collapseSenha">
        <small class="text-muted">ESQUECEU A SENHA?</small>
    </div>

    <div class="collapse" id="collapseSenha">
        <div class="card card-body">
            <form>                
                <p for="loginEmail">
                    Informe seu email usado no cadastro e enviaremos um link para redefinição de sua senha.
                </p>
                <input type="email" class="form-control" id="loginEmail" placeholder="exemplo@gmail.com" style="margin-bottom: 2%;" required>

                <button type="submit" class="btn btn-info btn-lg btn-block">ENVIAR</button>          
            </form>
        </div>
    </div>
    
  </div>

  