td a{    
    padding-top: 3%;        
    padding-bottom: 0;  
    border-radius: 50%;        
}

td a:hover{    
    transition: 1s;    
    background-color: black;
    color: white;  
}

.ativo{
    color: slateblue;    
    font-weight: bolder;
    font-size: small;    
}
.bloqueado{
    color: tomato;
    font-weight: bolder;
    font-size: small;    
}
  