<br>
<div class="row justify-content-md-center">    
    <div class="col-sm-6">
        <input class="form-control" type="search" placeholder="PESQUISAR: Nome ou Sobre do Cliente">    
    </div>
</div>
<br>
<div class="row justify-content-md-center">

    <div class="card componentShadow" style="width: 190rem;">
        <div class="card-header">            
            <h4>LISTA DE CLIENTES</h4>            
        </div>
        <div class="card-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NOME</th>
                        <th scope="col">CONTATO</th>
                        <th scope="col">SITUAÇÃO</th>
                        <th scope="col">DEBITO</th>
                        <th scope="col">OPÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cli of listaClientes; index as i" scope="row">
                        <th>{{ i+1 }}</th>
                        <td>{{ cli.nome | titlecase }} {{ cli.snome | titlecase }}</td>
                        <td>{{ cli.telefone | titlecase }}</td>
                        <td [ngClass]="{'ativo': cli.status, 'bloqueado': !cli.status}">
                            {{ cli.status ? 'ATIVO':'BLOQUEADO' | uppercase }}</td>
                        <td>{{  cli.debito | currency:'BRL' }}</td>
                        <td scope="col">
                            <a title="DETALHES"><span class="material-icons">visibility</span></a>
                            <a title="EDITAR"><span class="material-icons">build</span></a>
                            <a title="APAGAR"><span class="material-icons">delete</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
          
        </div><!-- card-body -->

    </div><!-- CARD -->
    
    
</div>
<a class="floatBTN btn-info componentShadow" routerLink="/clientes/novo" title="CADASTRAR">
    <span class="material-icons">person_add</span>
</a>