td a:hover{        
    color:orange;  
}

.ativo{
    color: slateblue;    
    font-weight: bolder;
    font-size: small;    
}
.bloqueado{
    color: tomato;
    font-weight: bolder;
    font-size: small;    
}
  