<br>
<div class="row justify-content-md-center" *ngIf="listaClientes$ | async else alertas">
    <div class="col-sm-6">
        <input class="form-control" type="search" [(ngModel)]="filtro"
            placeholder="PESQUISAR: Nome ou Sobre do Cliente">
    </div>

    <div class="card componentShadow" style="width: 190rem; margin-top: 1%;">

        <div class="card-header" style="text-align: center; color: grey;">            
            <h4>LISTA DE CLIENTES</h4>            
        </div>
        <div class="card-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NOME</th>
                        <th scope="col">CONTATO</th>
                        <th scope="col">SITUAÇÃO</th>
                        <th scope="col">DEBITO</th>
                        <th scope="col">OPÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cli of onFiltrar(); index as i" scope="row">
                        <th>{{ cli.id }}</th>
                        <td>{{ cli.nome | titlecase }} {{ cli.snome | titlecase }}</td>
                        <td>{{ cli.telefone | titlecase }}</td>
                        <td class="status" [ngClass]="{'ativo': cli.status, 'bloqueado': !cli.status}">
                            {{ cli.status ? 'ATIVO':'BLOQUEADO' | uppercase }}</td>
                        <td>{{  cli.debito | currency:'BRL' }}</td>
                        <td class="options">                            
                            <a title="DETALHES"
                                [routerLink]="['/clientes', cli.id]"
                                data-toggle="modal" data-target="#detalheModal">
                                <span class="material-icons">visibility</span>
                            </a>
                            <a title="EDITAR" [hidden]="!user.admin"
                                [routerLink]="['/clientes', cli.id, 'alterar']">
                                <span class="material-icons">build</span>
                            </a>
                            <a title="DELETAR" [hidden]="!user.admin"
                                data-toggle="modal" data-target="#deletarModal"
                                [routerLink]="['/clientes', cli.id, 'deletar']">
                                <span class="material-icons">delete</span>
                            </a>
                            <!-- <a title="QUITAR DEBITO" [hidden]="user.admin">
                                <span class="material-icons">build</span>
                            </a>                             -->
                        </td>
                    </tr>
                </tbody>
            </table>
          
        </div><!-- card-body -->

    </div><!-- CARD -->

</div>

<ng-template #alertas>
    <!-- banco de dados OFF .... -->    
    <div class="row justify-content-md-center" *ngIf="erro$ | async; else carregando">
        <system-nao-encontrado>
            <label class="titulo">BANCO DE DADOS</label>
            <p class="corpo">
                Nossa base de dados parece estar indisponivel no momento,
                porfavor tente de novo mais tarde.
                Caso o erro persiste contacte o suporte tecnico.
            </p>
        </system-nao-encontrado>
    </div>    
    <!-- carregando .... -->
    <ng-template #carregando>
        <div class="row justify-content-md-center">
            <div class="spinner-border text-info" style="width: 8rem; height: 8rem;" role="status">
                <span class="sr-only">Carregando Banco de Dados...</span>
            </div>
        </div>
    </ng-template>    
</ng-template>

<a class="floatBTNsecondary btn-secondary componentShadow text-white" title="ATUALIZAR" (click)="onRefresh()">
    <span class="material-icons">refresh</span>
</a>
<a class="floatBTN btn-info componentShadow" title="CADASTRAR" 
    [hidden]="!(listaClientes$ | async)" routerLink="/clientes/novo">
    <span class="material-icons">person_add</span>
</a>

<router-outlet></router-outlet>