<div class="row" style="padding-top: 0.5%;">
    <div class="col-md-4">
        <button type="button" routerLink="/clientes" class="btn btn-info" style="padding-top: 0%;">
            <span style="font-size: x-large;">«</span> VOLTAR 
        </button>        
    </div>
    <div class="col-md-auto">
        <h3 class="alert alert-info" style="font-weight: bolder;">CADASTRO DE CLIENTE</h3>
    </div>    
</div>
<br>
<div class="row-10 componentShadow">
    <clientes-form-cliente></clientes-form-cliente>
</div>