/* You can add global styles to this file, and also import other style files */
.componentShadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
a{ cursor: pointer; }

.spinner-border{
    width: 8rem;
    height: 8rem;    
}

.modals{
    background-color:gray;    
    padding:0.5%;
    border-radius: 10px; 
    text-align: center;
}
.modal-header, .modal-body, .modal-footer{ color:white; }

.floatBTN{    
    position:fixed;    
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    border-radius:50px;
    text-align:center;      
}
.floatBTN span{      
    margin-top: 18px;  
}
.floatBTNsecondary{
    position:fixed;  
    width:40px;
    height:40px;
    bottom:110px;
    right:50px;
    border-radius:50px;
    text-align:center; 
}
.floatBTNsecondary span{      
    margin-top: 8px;  
}
