<form #formCliente="ngForm" (ngSubmit)="onSubmit(formCliente)" novalidate>
    <!-- ********************************************************************************** -->
    <div class="form-row">
        <div class="form-group col-md-3">
            <label class="control-label" for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" required
                [ngClass]="validarCampo(cpf)" [ngModel]="cliente.cpf" #cpf="ngModel">
            <div [hidden]="cpf.valid" class="invalid-tooltip">
                CPF invalido!
            </div>
        </div>
        <div class="form-group col-md-6"></div>
        <div class="form-group col-md-3">
            <label for="foto">Foto</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="foto" name="foto" required
                [ngClass]="validarCampo(foto)" ngModel #foto="ngModel">
                <label class="custom-file-label" for="foto" data-browse="Escolha">
                    <span class="material-icons">add_a_photo</span>
                </label>
            </div>            
            <div [hidden]="foto.valid" class="invalid-tooltip">
                Foto Obrigatoria!
            </div>     
        </div>  
    </div>
    <!-- ********************************************************************************** -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" required
                [ngClass]="validarCampo(nome)" [ngModel]="cliente.nome" #nome="ngModel">
            <div [hidden]="nome.valid" class="invalid-tooltip">
                Nome do cliente não pode ser em branco.
            </div>                     
        </div>     
        <div class="form-group col-md-6">
            <label for="snome">Sobrenome</label>
            <input type="text" class="form-control" id="snome" name="snome" required                 
                [ngClass]="validarCampo(snome)" [ngModel]="cliente.snome" #snome="ngModel">                
            <div [hidden]="snome.valid" class="invalid-tooltip">
                Sobrenome do cliente não pode ser em branco.
            </div>                     
        </div>     
    </div>    
    <!-- ********************************************************************************** -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" required email                
                [ngClass]="validarCampo(email)" [ngModel]="cliente.email" #email="ngModel">                
            <div [hidden]="email.valid" class="invalid-tooltip">
                Email Invalido!
            </div>                     
        </div>   
        <div class="form-group col-md-6">
            <label for="telefone">Telefone</label>            
            <input type="text" class="form-control" id="telefone" name="telefone" required
                [ngClass]="validarCampo(telefone)" [ngModel]="cliente.telefone" #telefone="ngModel">                          
            <div [hidden]="telefone.valid" class="invalid-tooltip">
                Telefone Obrigatorio!
            </div>     
        </div>    
    </div>       
    <!-- ********************************************************************************** -->   
    <div class="form-row" hidden>        
        <div class="form-group col-md-4">
            <label for="debito">Debito</label>
            <input type="text" class="form-control" id="debito" name="debito" readonly
                [ngModel]="cliente.debito" #debito="ngModel">
        </div>
        <div class="form-group col-md-4">
            <label for="status">Situação</label>
            <input type="text" class="form-control" id="status" name="status" readonly                            
                [ngClass]="validarCampo(status)" [ngModel]="cliente.status" #status="ngModel">
        </div>        
    </div>        
    <!--  -->
    <div ngModelGroup="endereco">
    <!--  -->
    <div class="form-row">        
        <div class="form-group col-md-2">
            <label for="cep">CEP</label>            
            <input type="text" class="form-control" id="cep" name="cep" required
                [ngClass]="validarCampo(cep)" [ngModel]="cliente.endereco.cep" #cep="ngModel"
                (blur)="consultarCEP(cep.value, formCliente)">
            <div [hidden]="cep.valid" class="invalid-tooltip">
                CEP Obrigatorio! 
            </div>               
        </div>  
        <div class="form-group col-md-9">
            <label for="logradouro">Logradouro</label>
            <input type="text" class="form-control" id="logradouro" name="logradouro" readonly
                [ngModel]="cliente.endereco.logradouro" #logradouro="ngModel">            
        </div>
        <div class="form-group col-md-1">
            <label for="numero">Numero</label>
            <input type="text" class="form-control" id="numero" name="numero" required
                [ngClass]="validarCampo(numero)" [ngModel]="cliente.endereco.numero" #numero="ngModel">   
            <div [hidden]="numero.valid" class="invalid-tooltip">
                Numero Obrigatorio!
            </div>     
        </div>
    </div>
    <!-- ********************************************************************************** -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="complemento">Complemento</label>
            <input type="text" class="form-control" id="complemento" name="complemento"
                [ngModel]="cliente.endereco.complemento" #complemento="ngModel">            
        </div>
    </div>
    <!-- ********************************************************************************** -->
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control" id="bairro" name="bairro" readonly
                [ngModel]="cliente.endereco.bairro" #bairro="ngModel">
        </div>
        <div class="form-group col-md-6">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="cidade" name="cidade" readonly
                [ngModel]="cliente.endereco.cidade" #cidade="ngModel">            
        </div>
        <div class="form-group col-md-1">
            <label for="uf">UF</label>
            <input type="text" class="form-control" id="uf" name="uf" readonly
                [ngModel]="cliente.endereco.uf" #uf="ngModel">            
        </div>
    </div>
    <!--  -->
    </div>
    <!--  -->    
    <div class="form-row">              
            <div class="form-group col-md-10">
                <ng-content></ng-content> 
            </div>    
            <div class="form-group col-md-1">
                <button class="btn btn-outline-secondary" type="reset">RESETAR</button>
            </div>    
            <div class="form-group col-md-1">
                <button class="btn btn-success" type="submit" [disabled]="!formCliente.valid">SALVAR</button>
            </div>                  
    </div>    
</form>

<div class="alert alert-info">
    <h3>DETALHES DO FORM</h3>
    <pre class="alert alert-warning">VÁLIDO: {{ formCliente.valid }}</pre>
    <pre class="alert alert-warning">SUBMETIDO: {{ formCliente.submitted }}</pre>
    <pre class="alert alert-warning">{{ formCliente.value | json }}</pre>
</div>