#formCliente{      
    background-color:azure;          
    font-weight: bolder;
    padding: 1%;        
    border-radius: 2px;      
    text-align: center;
}

i{
    font-size: small;
    color: red;
}
small{
    font-size: xx-small;
    font-style: italic;
}