<form [formGroup]="formCliente" (ngSubmit)="onSubmit()" id="formCliente">    
    <!-- ********************************************************************************** -->
    <div class="form-row">
        <div class="form-group col-md-3">
            <label class="control-label" for="cpf">CPF</label><i class="material-icons">flare</i>
            <input type="text" class="form-control" id="cpf" formControlName="cpf"
                [ngClass]="validateForm.validarCampo(formCliente.get('cpf'))">
                <div class="invalid-tooltip">
                    CPF invalido!
                </div>            
        </div>
        <div class="form-group col-md-6"></div>
        <div class="form-group col-md-3">
            <label for="foto">Foto</label><i class="material-icons">flare</i>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="foto" formControlName="foto"
                    [ngClass]="validateForm.validarCampo(formCliente.get('foto'))">
                <label class="custom-file-label" for="foto" data-browse="Escolha">
                    <span class="material-icons">add_a_photo</span>
                </label>
                <div class="invalid-tooltip">
                    Foto Obrigatoria!
                </div>
            </div>                        
        </div>  
    </div>
    <!-- ********************************************************************************** -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nome">Nome</label><i class="material-icons">flare</i>
            <input type="text" class="form-control" id="nome" formControlName="nome"
                [ngClass]="validateForm.validarCampo(formCliente.get('nome'))">
            <div class="invalid-tooltip">
                Nome do cliente não pode ser em branco.
            </div>                     
        </div>     
        <div class="form-group col-md-6">
            <label for="snome">Sobrenome</label><i class="material-icons">flare</i>
            <input type="text" class="form-control" id="snome" formControlName="snome"
                [ngClass]="validateForm.validarCampo(formCliente.get('snome'))">
            <div class="invalid-tooltip">
                Sobrenome do cliente não pode ser em branco.
            </div>                     
        </div>     
    </div>    
    <!-- ********************************************************************************** -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email">Email</label><i class="material-icons">flare</i>
            <input type="text" class="form-control" id="email" formControlName="email"
                [ngClass]="validateForm.validarCampo(formCliente.get('email'))">
            <div class="invalid-tooltip">
                Email Invalido!
            </div>                     
        </div>   
        <div class="form-group col-md-6">
            <label for="telefone">Telefone</label><i class="material-icons">flare</i>            
            <input type="text" class="form-control" id="telefone" formControlName="telefone"
                [ngClass]="validateForm.validarCampo(formCliente.get('telefone'))">
            <div class="invalid-tooltip">
                Telefone Obrigatorio!
            </div>     
        </div>    
    </div>       
    <!-- ********************************************************************************** -->   
    <div class="form-row" hidden>        
        <div class="form-group col-md-4">
            <label for="debito">Debito</label>
            <input type="text" class="form-control" id="debito" readonly>
        </div>
        <div class="form-group col-md-4">
            <label for="status">Situação</label>
            <input type="text" class="form-control" id="status" readonly>
        </div>        
    </div>        
    <!--  -->
    <div formGroupName="endereco">
    <!--  -->
    <div class="form-row">        
        <div class="form-group col-md-2">
            <label for="cep">CEP</label><i class="material-icons">flare</i>            
            <input type="text" class="form-control" id="cep" formControlName="cep" 
                (blur)="consultarCEP(formCliente.get('endereco.cep'))"
                [ngClass]="validateForm.validarCampo(formCliente.get('endereco.cep'))">
            <div class="invalid-tooltip">
                CEP {{ cepErro ? 'Não Encontrado':'Invalido' }}!
            </div>               
        </div>  
        <div class="form-group col-md-8">
            <label for="logradouro">Logradouro</label>
            <input tabindex="-1" type="text" class="form-control" id="logradouro" formControlName="logradouro" readonly>
        </div>
        <div class="form-group col-md-2">
            <label for="numero">Numero</label><i class="material-icons">flare</i>
            <input type="text" class="form-control" id="numero" formControlName="numero"
                [ngClass]="validateForm.validarCampo(formCliente.get('endereco.numero'))">
            <div class="invalid-tooltip">
                Numero Obrigatorio!
            </div>     
        </div>
    </div>
    <!-- ********************************************************************************** -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="complemento">Complemento</label><small> (OPCIONAL)</small>
            <input type="text" class="form-control" id="complemento" formControlName="complemento">
        </div>
    </div>
    <!-- ********************************************************************************** -->
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="bairro">Bairro</label>
            <input tabindex="-1" type="text" class="form-control" id="bairro" formControlName="bairro" readonly>
        </div>
        <div class="form-group col-md-5">
            <label for="cidade">Cidade</label>
            <input tabindex="-1" type="text" class="form-control" id="cidade" formControlName="cidade" readonly>
        </div>
        <div class="form-group col-md-2">
            <label for="uf">UF</label>
            <input tabindex="-1" type="text" class="form-control" id="uf" formControlName="uf" readonly>          
        </div>
    </div>
    <!--  -->
    </div>
    <!--  -->    
    <div class="dropdown-divider"></div>
    <div class="form-row justify-content-md-center">                          
            <div class="form-group col-md-4">
                <button tabindex="-1" class="btn btn-outline-secondary" type="reset">RESETAR</button>
            </div>    
            <div class="form-group col-md-4">
                <button class="btn btn-success" type="submit">SALVAR</button>
            </div>                  
    </div>    
</form>

<div class="alert alert-info">
    <h3>DETALHES DO FORM</h3>
    <pre class="alert alert-warning">VÁLIDO: {{ formCliente.valid }}</pre>    
    <pre class="alert alert-warning">{{ formCliente.value | json }}</pre>
</div>