#formCliente{      
    background-color: gray;      
    color: white;
    font-weight: bolder;
    padding: 2%;        
    border-radius: 2px;      
    text-align: center;
}

i{
    font-size: small;
    color: red;
}
small{
    font-size: xx-small;
    font-style: italic;
}