<br>
<div class="row justify-content-md-center">          
    <div class="col-2">
        <button class="btn btn-info" type="button">LOCAR</button>
    </div>
    <div class="col-3">        
        <input class="form-control" type="date"                 
            [(ngModel)]="filtro">                            
    </div>        
</div>    
<br>
<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="accordion componentShadow" id="listaLocacoes">
            <div class="card" *ngFor="let loc of onFiltrarLoca(); index as i" >
                <div class="card-header" [id]="'tit'+i">
                    <h2 class="mb-0">
                        <button class="btn btn-outline-info btnTit" type="button" data-toggle="collapse" 
                            [title]="'desc'+i" data-target="#?" aria-expanded="false" aria-controls="?">
                            {{ loc.cliente | uppercase }} | {{ loc.dataEntrega | date:'fullDate' | uppercase }}                    
                        </button>
                    </h2>
                </div>

                <div [id]="'desc'+i" class="collapse desc" [title]="'tit'+i" aria-labelledby="?" 
                    data-parent="#listaLocacoes">
                    <div class="card-body">
                        <div class="row-10">
                            <small>DATA DA LOCAÇÃO</small>: 
                            <label>{{ loc.dataLocacao | date:'fullDate' | uppercase }}</label>
                        </div>
                        <div class="row-10">                    
                            <small>VALOR: </small><label>{{ 100 | currency: 'BRL'}}</label> 
                            (<small>MULTA: </small><label style="color: red;">{{ 10 | currency: 'BRL'}}</label>)
                            <br><small>TOTAL: </small><label>{{ 110 | currency: 'BRL'}}</label> 
                        </div>                
                        <button class="btn btn-warning">RECEBER</button>
                    </div>
                </div>
            </div>    
            
        </div><!-- accordion -->
    </div>

    <div class="col-6">
        <div class="card componentShadow">
            <div class="card-header" style="text-align: center;">
                <h2>DETALHES DA LOCAÇÃO</h2>
            </div>
            <div class="card-body">
                .............
            </div>
        </div>
    </div>
</div> <!-- row -->
  